.header {
  background: #000;
}

.header-logo-text {
  color: #CFD1DF;
}

.header-links-list-point-href {
  color: #CFD1DF;
}

.header-main-link {
  color: #CFD1DF;
}

.header-mobile-top-row-button span {
  background-color: #fff;
}